section {
    padding: 1rem;
}

.title {
    text-decoration: underline;
}



.first-grid-section {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    
    .grid-item {
        padding: 1.5rem;
        border-radius: 1rem;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
         }
    }
}

.second_grid_secction {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 4fr repeat(13, 1fr);
    &>* { 
        padding: .5rem;
        border-radius: 1rem;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
         }
    }
}


.brown { background-color: brown; }

.pink { background-color: pink; }

.grey { background-color: grey; }

.violet { background-color: violet; }

.orange { background-color: orange; }

.yellow { background-color: yellow; }

.black { background-color: black; }

.green {  background-color: green; }

.red { background-color: red; }

.gold { background-color: gold; }

.silver { background-color: silver; }

.blue { background-color: blue; }

.white { background-color: white; }

